.home-view {
  background: #ffffff;
  border-radius: 16px;
  height: 100%;
  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-logo {
  max-width: 350px;
  width: 100%;
  height: auto;
}